@font-face {
  font-family: "YoutubeSimilar";
  src: url("./TraditionellSans-Bold.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
    margin: 0;
    padding: 0;
}
nav {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    top: 0;
    background-color: white;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
}
.ytLogo {
  font-family: "YoutubeSimilar", sans-serif;
  font-size: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  user-select: none;
  cursor: pointer;
}

.ytLogo img {
  height: 23px;
}

.searchBar {
  height: 32px;
  width: fit-content;
  display: flex;
}
.fixedAccountInfo.hidden {
  display: none;
}
.fixedAccountInfo {
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;

}

.fixedAccountInfo .inner {
  cursor: pointer;
  position: absolute;
  width: 300px; 
  border-radius: 15px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
  background-color: white;
  right: 65px;
  top: 10px;
  
}



.fixedAccountInfo .header {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.fixedAccountInfo .header .pfp{
  height: 40px;
  width: 40px;

}

.fixedAccountInfo .next {
  margin: 10px 0;
  
}

.fixedAccountInfo .next .item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;

}
.fixedAccountInfo .next .item:hover {
  background-color: rgb(0,0,0,.05);
}

.fixedAccountInfo .next .item svg {
  height: 28px;
}
.searchBar input {
  padding: 5px 10px;
  padding-left: 15px;
  box-shadow: inset 1px 1px 1px rgb(230, 230, 230);
  margin: 0;
  border-radius: 9999px 0 0 9999px;
  border: 1px solid rgb(230, 230, 230);
  height: 32px;
  font-size: 16px;
  width: 25vw;
}

.searchBar .search {
  box-shadow: inset 1px 1px 1px rgb(230, 230, 230);
  background-color: rgb(248, 248, 248);
  border-radius: 0 9999px 9999px 0;
  border: 1px solid rgb(230, 230, 230);
  border-left: none;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: rgba(99, 99, 99, 255);
  cursor: pointer;
}

.searchBar .search:hover {
  background-color: rgb(240, 240, 240);
}

.signInButton {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #065fd4;
  font-size: 16px;
  fill: #065fd4;
  border-radius: 9999px;
  border: 1px rgb(0,0,0,.1) solid;
  padding: 6px 15px;
  font-weight: 500;
  cursor: pointer;
  
}

.signInButton:hover {
  background-color: #def1ff;
  border: 1px #def1ff solid;
}

.signInButton span {
  white-space: nowrap;
}

.signInButton svg {
  width: 28px;
}

.pfp {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: grey;
  cursor: pointer;
}

nav.topBar {
  display: flex;
  justify-content: space-between;
  padding: 2px 8px;
  padding-bottom: 15px;
  background-color: white;
}

nav.topBar > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav.topBar svg.over {
  height: 45px;
  width: 45px;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 50%;
}

nav.topBar svg.over:hover {
  background-color: rgba(0,0,0,.1);
  cursor: pointer;
}

nav.topBar div.right {
  margin-right: 10px;
}

main {
  
  display: flex;
  min-height: 100vh;
}

aside.hide {
  transform: translateX(-210px);
  
}
aside {
  width: 210px;
  position: fixed;
  top: 70px;
  left: 10px;
  transition: all 200ms linear;
}

aside.overlay

aside, nav {
  z-index: 1;
}


.categories {
    position: fixed;
    top: 64px;
    width: 100%;
    left: 220px;
    height: 42px;
    padding: 8px 4px;
}

.mainContent {
  width: calc(100vw - 320px - 100px);
  margin-top: 72px;
  /* margin-top: 128px; */
  margin-left: 320px;
  margin-bottom: 30px;
}

.mainContent.full {
  width: calc(100vw - 100px - 100px);
  margin-left: 100px;

}


.videos {
    grid-gap: 18px;
    display: grid;
    justify-content: flex-start;
    align-content: flex-start;
    grid-template-columns: auto auto auto auto;
}

.mainContent.full .videos {
  grid-template-columns: repeat(5, auto);
}

aside .line {
    margin: 10px 0;
  border-bottom: 1px solid rgb(242, 242, 242);
}

.aside-but {
    
  font-weight: 400;
  display: flex;
  width: 200px;
  border-radius: 10px;
  height: 42px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 8px;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  
}
.aside-but:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.aside-but.selected {
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.05);
    
}

.aside-but.selected:hover {
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.1);
  
}
.video .info {
  display: flex;
  width: 336px;
  gap: 10px;
}
.video .pfp {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.video .title {
  padding: 2px 0 8px;
  margin: 0;
  text-overflow: ellipsis;
  font-size: 18px;
  overflow: hidden;
  font-weight: 600;
  max-height: 36px;
  cursor: pointer;
  /* width: 270px; */
}
.video {
  cursor: pointer;
  width: 336px;
}
.video .right {
  text-overflow: ellipsis;
  width: calc(100% - 52px);
  
}

.video .right .vid-preview{
  width: 100%;
}


.video img {
  border-radius: 12px;
  
}

.video .imgwrap {
  margin-bottom: 10px;
  position: relative;
}

.video .time {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 2px;
  font-size: 12px;
  font-weight: 600;
  opacity: .9;
  position: absolute;
  bottom: 9px;
  right: 4px;
  border-radius: 5px;
}

.video .info p {
  color: #606060;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  padding: 2px;
}

.video .info .author:hover {
  color: #0f0f0f;
}

.upload-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000099;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-vid {
  height: 90vh;
  width: 50vw;
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  background-color: white;
}

.upload-vid header{
  display: flex;
  justify-content: space-between;
  padding: 4px 32px;
  align-items: center;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  
}
.upload-vid header svg {
  cursor: pointer;
}


.upload-vid .body {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.upload-vid .body-mod {
  flex: 1;
  display: flex;
  position: relative;
  overflow-y: auto;
  gap: 25px;
  padding: 35px;
  margin-bottom: 30px;

}

.body-mod .right {
  position: sticky;
  width: 40%;
  margin-top: 44px;
  top: 0;
}


.body-mod .input-surround, .body-mod .radio {
  border: 1px #606060 solid;
  padding: 10px;
  margin-bottom: 24px;
  border-radius: 4px;
}
.body-mod .radio {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.body-mod .radioOption {
  display: flex;
  gap: 10px;
}

.body-mod .radioOption input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px #606060 solid;  
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.body-mod .radioOption input:checked {
  border-color: black
}

.body-mod .radioOption input::before {
  content: '';
  transition: all 200ms;
  width: 10px;
  height: 10px;
  border-radius: 50%;
 
}


.body-mod .radioOption input:checked::before {
  background-color: black;
}

.body-mod .radioOption label {
  font-size: 15px;
  cursor: pointer ;
}
.body-mod .radioOption p {
  margin: 4px 0 0;
  padding: 0;
}
.body-mod .input-surround h4{
  margin: 0;
  color: #606060;
  font-size: 12px;
  font-weight: 400;
}

.body-mod .input-surround textarea {
  width: 100%;
  outline: none;
  resize: vertical;
  font-family: 'Roberto', sans-serif;
  font-size: 15px;
  margin: 0;
  margin-top: 4px;
  border: none;
}
.body-mod .left {
  width: 60%;
}

.body-mod .left h2 {
  margin: 0 0 22px;
  font-weight: 500;
  font-size: 22px;
}

.body-mod .left h3 {
  font-size: 15px;
  font-weight: 500;
}

.upload-vid footer {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 60px;
  border-top:rgba(0, 0, 0, 0.1) 1px solid;
}

.body-mod p {
  font-size: 13px;
  color: #606060;
}

.vid-preview .video-prev {
  margin-bottom: -4px;
  padding: 0;
}
.vid-preview .info {
  margin: 0;
  padding: 30px 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.vid-preview .info p{
  padding: 0;
  margin: 0;
}

.vid-preview .info .header {
  font-size: 12px;
  color: #606060;
}
.vid-preview .info .name {
  font-size: 15px;
  color: black;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.uploadicon-wrap {
  background-color:rgba(0, 0, 0, 0.05);
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.uploadicon-wrap svg {
  width: 72px;
  color: #909090;
}

.upload-vid button {
  font-family: "Roboto", sans-serif;
  background-color: #065fd4;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
}

.upload-vid .disclaimer {
  color: #606060;
  font-size: 13px;
  margin-bottom: 20px;
}
.uploadicon-wrap, .upload-vid button {
  cursor: pointer;
}
.uploadError {
  margin-top: 30px;
  font-size: 16px;
  color: red;
  text-align: center;
  width: 200px;
  height: 30px;
}

.upload-first {
  height:68px;
  width: 127px;
  border: 1px dashed #606060;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail-upload img {
  width: 129px;
  height: 70px;
  background-color: white;
  
}



.upload-first:hover{
  background-color: rgb(0,0,0,.05);
}
.thumbnail-upload > * {
  cursor: pointer;
}



.thumbnail-upload {
  display: flex;
  gap: 5px;
}
.upload-first svg {
  width: 30px;
  color: #606060;
  margin: 4px;
}
.upload-first p {
  color: #606060;
  font-size: 13px;
  margin: 0;
}
.upload-vid header h2{
  font-weight: 500;
  font-size: 20px;
  width: 80%;
  height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 
}

.view-page .frame {
  display: flex;
  justify-content: center;
  background-color: black;
  border: 1px black solid;
  width: 1278px;
  height: 720px;
}
.view-page .vid .pfp {
  height: 40px;
  width: 40px;
}
.view-page .vid .title {
  font-size: 20px;
  color: #0f0f0f;
  margin: 10px 0;
  font-weight: 500;
}

.view-page .vid .author .author-name{
  font-weight: 500;
  color: #0f0f0f;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 2px;
}

.view-page .vid .author .subscriber-count {
  color: #606060;
  font-size: 12px;
}

.view-page .vid .info-bar, .view-page .vid .info-bar .left, .view-page .vid .info-bar .right  {
  display: flex;
  align-items: center;
}
.view-page .vid .info-bar .left, .view-page .vid .info-bar .right  {
  gap: 10px;
  align-items: center;
}
.view-page .vid .info-bar {
  width: 1278px;
  justify-content: space-between;
}

.pfp img {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.likes {
  display: flex;
}
.like-btn {
  display: flex;
  background-color: rgb(0,0,0,.05);
  font-weight: 500;
  gap: 10px;
  padding: 8px 16px;
  align-items: center;
  border-radius: 9999px 0 0 9999px;
}


.dislike-btn {
  background-color: rgb(0,0,0,.05);
  display: flex;
  padding: 8px 16px;
  border-left: 1px rgb(0,0,0,.05) solid;
  align-items: center;
  border-radius: 0 9999px 9999px 0;
}

.share {
  background-color: rgb(0,0,0,.05);
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 9999px;
}
.like-btn svg, .dislike-btn svg, .share svg {
  width: 24px;
}
.view-page .vid .info-bar .subscribeBtn {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-left: 20px;
  color: white;
  font-weight:500;
  padding: 10px 15px;
  align-items: center;
  background-color: #0f0f0f;
  cursor: pointer;
  border-radius: 9999px;
}

.description {
  background-color: rgba(0,0,0,.05);
  width: 1258px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 12px;
  min-height: 50px;
  
}

.description .top {
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-size: 15px;
  
}

.description .top {
  font-size: 15px;
}

.comment-add {
  font-size: 16px;
  display: flex;
  gap: 10px;
  width: 1278px;
 
  
}

.commentButtons {
  margin-top: 8px;
  display: flex;
  gap: 10px;
  justify-content: end;
}

.commentButtons div{
  border-radius: 9999px;
  font-size: 14px;
  padding: 8px 15px;
  font-weight: 500;

}

.commentButtons .commentBtn {
  background-color:#065fd4;
  color: white;
}

.commentButtons .cancel:hover {
  background-color: rgb(0,0,0,.05);
}

.comment-count {
  margin: 20px 0;
}
.comment-wrapper .pfp{
  width: 40px;
  height: 40px;
}

.comment-add .right {
  flex: 1;
}
.commentText {
  min-height: 20px;
  padding: 0 2px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  overflow-wrap: anywhere;
  border-bottom: 1px #0f0f0f solid;
  color: #0f0f0f;
  outline: none;
}

.commentText:empty {
  color: #606060;
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text)
}
.channel-view .pfp {
  width: 88px;
  height: 88px;
}
.channel-view .header .inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-view .channel-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.channel-view .subscribeBtn {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-weight:500;
  
  align-items: center;
  background-color: #0f0f0f;
  border-radius: 9999px;
}
.channel-view .channel-info .name {
  color: #0f0f0f;
  font-size: 24px;
}

.channel-view .selection-bar {
  width: 80%;
  margin: 1px auto 0;
}

.channel-view .selection {
  padding: 15px 30px;
  
  border-bottom: 3px solid #0f0f0f;
  
  font-weight: 500;
  font-size: 16px;
  width: fit-content;
}

.channel-view .line {
  border-bottom: 1px solid rgb(0,0,0,.05);
}
.channel-view .channel-info .subscribers {
  color: #606060;
  font-size: 14px;
}
.channel-view .header {
  
  width: 100%;
}

.channel-view .inner-header {
  margin: 0 auto;
  width: 80%;
}
.channel-videos {
  width: 80%;
  margin: 30px auto 0;
  display: grid;
  grid-gap: 18px;
  justify-content: flex-start;
  align-content: flex-start;
  grid-template-columns: repeat(4, 1fr)
}

.subscribeBtn.subbed {
  color: #0f0f0f !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.channel-videos .video-child{
  cursor: pointer;
}
.channel-videos .video-child .video-title{
  margin-top: 5px;
  font-weight: 500;
  color:#0f0f0f;
  font-size: 14px;
  
}
.channel-videos .video-child .video-info {
  margin-top: 5px;
  color: #606060;
  font-size: 12px;
}
.channel-videos .video-child img {
  width: 100%;  
  height: auto;
  border-radius: 12px;
}

.channel-videos .video-child .img-wrap {
  position: relative;
}

.video-child .img-wrap .time {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 2px;
  font-size: 12px;
  font-weight: 600;
  opacity: .9;
  position: absolute;
  bottom: 9px;
  right: 4px;
  border-radius: 5px;
}

.img-wrap .privateSymbol, .imgwrap .privateSymbol {
  height: 16px;
  width: 16px;
  text-decoration: none;
  color: white;
  fill: white;
  background-color: black;
  padding: 2px;
  font-size: 12px;
  font-weight: 600;
  opacity: .9;
  position: absolute;
  top: 9px;
  left: 4px;
  border-radius: 5px;
}
.comment {
  width: 1278px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 20px;

}

.comment .info{
  display: flex;
  gap: 4px;
  font-size: 13px;
}

.comment .name {
  font-weight: 500;
  
}

.comment .timeago {
  color: #606060;
}
.comment .right {
  
  flex: 1;
}

.comment .text {
  width: 100%;
  margin-top: 4px;
  font-size: 14px;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.nouser {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 45px;
  color: red;
  font-weight: 600;
}

.nouser svg {
  height: 60px;
}